.Profile{
    height: 100vh;
    display: inline-block;
    margin-left: 10rem;
    width: 83%;
    vertical-align: top;
    padding: 0.5%;
}

.Profile img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personal-info{
    display: block;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2%;
    color: #234465;
}

.profile-comments a{
    text-decoration: none;
}

.profile-comments button{
    cursor: pointer;
}

.profile-comments button:hover{
    color: #234465;
    background: #FFF;
}