@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie- Flower', cursive;
}


h2 {
    color: #234465;
    text-decoration: underline;
    margin-bottom: 1%;
}


textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #234465;
    border-radius: 0.3em;
    width: 50em;
    height: 150px;
}

button {
    display: block;
    margin: 1em auto  2em auto;
    width: 7em;
    height: 3em;
    border-radius: 0.3em;
    color: #FFF;
    background: #234465;
    border: none;
}